<div class="header">
    <nav class="header_top">
      <div class="header_menu">
        <img src="https://tesseract.in/0f90e3e08da7dfb6c541c8985a331fab.svg" alt="" class="header_menu_logo" routerLink="/">
        <div>
          <a href="/html/">Jio Glass</a> 
          <a href="/css/">Consumer</a> 
          <a href="/js/">Enterprise</a> 
          <a href="/python/">Developer</a>
          <a href="/python/">Careers</a>
        </div>
      </div>
    </nav>
    <nav class="header_bottom">
      <div class="header_bottom_location_text">
          <div class="header_bootm_div_text">
            <mat-icon style="padding-right: 5px;">settings</mat-icon>
            <span>Why to Developer</span>
            <hr class="header_bottom_vertical_line"> 
          </div> 
          <div class="header_bootm_div_text" >
            <mat-icon style="padding-right: 5px;">help_outline</mat-icon>
            <span>How to Developer</span>
            <hr class="header_bottom_vertical_line">
          </div>  
          <div class="header_bootm_div_text">
            <!-- <img src="assets/icon/download.png" alt="Download"> -->
            <mat-icon style="padding-right: 5px;">download</mat-icon>
            <span>Downloads</span>
            <hr class="header_bottom_vertical_line">  
          </div> 
          <div class="header_bootm_div_text"href="/python/">
            <mat-icon style="padding-right: 5px;">wc</mat-icon>
            <span>Community</span>  
            <hr class="header_bottom_vertical_line">
          </div>
          <div class="header_bootm_div_text"href="/python/">
            <mat-icon style="padding-right: 5px;">arrow_right_alt</mat-icon>
            <span>Sign/SignUp</span>    
          </div>
      </div>
    </nav>
  </div>
