<app-header></app-header>
<div class="image_text">
   <div>
      <img class="banner" src="https://tesseract-website.azureedge.net/media/filer_public/f9/c2/f9c29e5f-e9bf-4173-aacc-50b3dfa25aae/developer_background.png" alt="banner">
   </div>
   <div class="jio_developer_platform">
      <h1>Jio Tesseract Developer Platform</h1>
      <div style="margin-top: -14px;">Be a part building the future of mixed reallity with JioGlass</div>
      <div class="jio_developer_platform_div">
         <div>
            <span href="/html/">Start Developing</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
         <div>
            <span href="/html/">Download Kits</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
      </div>
   </div>
</div>
<div class="group6577">
   <div class="group6577_div1">
      Develop for the next Billion internet users
   </div>
   <div class="group6577_div2">
      <img style="height: 150px;" src="assets\images\Mask Group 150.png" alt="maskGroup">
      <div style="color: #166FCC;margin: 20px;">
         THE IMMEDIATE GROWTH
         <div style="width: 527px;margin-top: 5px;color: #FFFFFF;">
            India had nearly 700 million internet users across the country. This figure is projected to grow to over 974 million users by 2025. Be a part of this digital growth now.
         </div>
         <div style="margin-top: 5px;">
            <span href="/html/">Start developing</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
      </div>
   </div>
   <div style="margin-left: 308px;display: flex;margin-top: 10px;">
      <img style="height: 150px;"  src="assets\images\Mask Group 151.png" alt="maskGroup">
      <div style="color: #166FCC;margin: 20px;">
         5G NETWORK GROWTH
         <div style="width: 527px;margin-top: 5px;color: #FFFFFF;">
            “I assure you that Jio will pioneer the 5G revolution in India in the second half of 2021. It will be powered by indigenous-developed network, hardware and technology components” - Mukesh D. Ambani
         </div>
         <div style="margin-top: 5px;">
            <span href="/html/">Sign up now</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
      </div>
   </div>
   <div class="jio_imagined">
      JioGlass is everything you imagined in a Mixed Reality Innovation
   </div>
   <div class="jio_launch">
      We have got 25,000 sign ups who are eagerly waiting for the updates on JioGlass and its launch.
   </div>
   <div style="background-color: black;">
      <img class="group114_img" src="assets\images\Mask Group 114.png" alt="maskGroup">
      <img class="group111_img" src="assets\images\Mask Group 111.png" alt="maskGroup">
   </div>
   <div class="jioglass_launch_2021">
      <div>
         <img class="group149_img" src="\assets\images\Mask Group 149.png" alt="maskGroup">
      </div>
      <div style="color: #4096ef;">JioGlass Launch Program 2021</div>
      <div style="color: #FFFFFF;">Will be initially launched in June 2021 & then finally to the consumer market by December 2021.</div>
      <div style="display: flex;justify-content: space-around;">
         <div>
            <span href="/html/">Keep me updated</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
         <div>
            <span href="/html/">Submit concept</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
      </div>
   </div>
   <div class="jio_step_process">
      <div class="jio_step_process_head"style="">How to get started?</div>
      <div style="color: #FFFFFF;margin-left: 44%;">Simple 4 step process</div>
      <div class="jio_step_process_all_content">
         <div  class="jio_step_process_content">
            <img style="margin-right: 86px;" src="assets\images\Group 6665.svg" alt="maskGroup">
            <div style="color: #FFFFFF;">Explore & know <br>‘How to develop?’</div>
         </div>
         <div class="jio_step_process_content">
            <img style="margin-right: 86px;" src="assets\images\Group 6666.svg" alt="maskGroup">
            <div style="color: #FFFFFF;">Submit Concept<br> Application</div>
         </div>
         <div class="jio_step_process_content">
            <img style="margin-right: 86px;" src="assets\images\Group 6667.svg" alt="maskGroup">
            <div style="color: #FFFFFF;">Sign up to access<br> the tools & SDKs</div>
         </div>
         <div class="jio_step_process_content">
            <img style="margin-right: 86px;" src="assets\images\Group 6724.svg" alt="maskGroup">
            <div style="color: #FFFFFF;">Publish and <br>Monetise</div>
         </div>
      </div>
   </div>
   <div class="jio_glass_develop">
      <div style="display: flex;padding-bottom: 40px;">
         <div style="display: flex;flex-direction: column;margin-top: 50px;width: 84%;">
            <div class="jio_glass_develop_head">How to Develop?</div>
            <div style="margin-left: 150px;width: 60%;">Guides & references for developing for JioGlass & Mixed Reality applications are provided and listed for your easy execution and developing, publishing, analysing and monetising your apps.</div>
            <div style="margin-left: 150px;">
               <span href="/html/">Know More</span>
               <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
            </div>
         </div>
         <div style="margin-right: 10%;margin-top: 5%;">
            <span href="/html/">Sign Up</span>
            <mat-icon style="position: absolute;">keyboard_arrow_right</mat-icon>
         </div>
      </div>
   </div>
   <div style="top: 0px;left: 0px;background: #000000 0% 0% no-repeat padding-box;opacity: 1;">
      <div style="display: flex;justify-content: space-around;padding: 100px;">
         <div style="color: #FFFFFF;display: flex;flex-direction: column;">
            <h6><strong>JioGlass</strong></h6>
            <a style="margin-top: -10px;">
               <h6>Product</h6>
            </a>
            <h6><strong>for Consumers</strong></h6>
            <a style="margin-top: -10px;">
               <h6>Consumer experiences</h6>
            </a>
            <h6><strong>for Enterprises</strong></h6>
            <a style="margin-top: -10px;">
               <h6>Enterprise experiences</h6>
            </a>
         </div>
         <div style="color: #FFFFFF;display: flex;flex-direction: column;">
            <h6><strong>Developers</strong></h6>
            <a style="margin-top: -10px;">
               <h6>to Develop?</h6>
            </a>
            <a style="margin-top: -15px;">
               <h6>How to develop?</h6>
            </a>
            <a style="margin-top: -15px;">
               <h6>Downloads</h6>
            </a>
            <a style="margin-top: -15px;">
               <h6>Community</h6>
            </a>
            <a style="margin-top: -15px;">
               <h6>Sign up</h6>
            </a>
            <h6><strong>Careers</strong></h6>
            <a style="margin-top: -10px;">
               <h6>Opportunities</h6>
            </a>
         </div>
         <div style="color: #FFFFFF;">
            <h6><strong>Contact</strong></h6>
            <h5>Corporate Office Tesseract Imaging Ltd, T22, <br>Reliance Corporate Park, Navi Mumbai,<br> India - 400701</h5>
            <h6 style="margin-top: 26px;"><strong>Follow us</strong></h6>
            <div style="display: flex;margin-top: -12px;">
               <img  src="assets\images\Group 6723.svg" alt="maskGroup">
               <img  src="assets\images\Group 6688.svg" alt="maskGroup">
               <img  src="assets\images\Group 6690.svg" alt="maskGroup">
            </div>
         </div>
      </div>
      <div style="color: #FFFFFF;margin-left: 42%;margin-bottom: 200px;">
         Design & Copyright | Jio Tesseract
      </div>
   </div>
</div>